<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=check_circle" />
  </head>
  <body>
    
    <div id="main">
      <div id="nav-con">
        <div id="nav-above" > ECS: Stack is Live !</div>
        <div id="nav-below">
          <div id="logo">
            
            <img id="logo-nav" src="./images/logo (1).png" alt="">
          </div>
          <div class="text" style="color:  rgb(216, 223, 230);">Supplements</div>
          <div class="text" style="color:  rgb(216, 223, 230);">Apparel&Gear</div>
          <div class="text" style="color:  rgb(216, 223, 230);">Learn</div>
          <div class="text" style="color:  rgb(216, 223, 230);">About</div>
          <div class="text" style="color:  rgb(216, 223, 230);">Start here:Take Quiz</div>
          <div class="symbols">
            
             
                <i id="x" class="fa-sharp fa-solid fa-magnifying-glass fa-1.5x" style="font-size: 25px; color: #F0F0F0;"></i>
              
            
            
              <i id="d" style="font-size: 25px; color: #F0F0F0;" class="fa-solid fa-user"></i>
            
            
              <i id="d" style="font-size: 25px; color: #F0F0F0;" class="fa-solid fa-cart-shopping"></i>
            
            </div> 
        </div>
      </div>
      <div id="vid-con-main">
        
        <div id="vid-con">
          <div id="content">
            <p class="px">Go</p>
            <p class="p1">One</p>
            <p class="p1">More</p>
            <p id="pp">Performance Supplements for the Comitted</p>
            <div id="bt1-con"><button id="bt1">Start Here: Take the Quiz</button></div>
            <div id="bt2-con"><button id="bt2">Shop Supplements</button></div>
          </div>
          <video id="v1" style="border-radius: 20px;" autoplay muted src="./images/f4f5f1dbec084bebbecbe67ab2025df6.mp4"></video>
        </div>
      </div>
      <div id="cards1-con">
        <div id="cards1">
          <div id="card1" class="cards"><img class="img1" src="https://i.pinimg.com/736x/65/cf/e6/65cfe6406df84762397abcc479cd1e1b.jpg" alt=""> <div class="overlay-text"><p class="line1">ENDURANCE</p>
            <p class="line2">SHOP</p></div></div>
          <div id="card2" class="cards"><img src="https://media.istockphoto.com/id/612262390/photo/body-building-workout.jpg?s=1024x1024&w=is&k=20&c=gYq-ZEVRcKQREgUdNJEOfEEFy_UTMNC-nmKLz_Ad1xs=" alt="" class="img1"><div class="overlay-text"><p class="line1">STRENGTH</p>
            <p class="line2">SHOP</p></div></div>
          <div id="card3" class="cards"><img src="https://media.istockphoto.com/id/942286558/photo/gym-woman-lifting-heavy-weights-in-gym.jpg?s=1024x1024&w=is&k=20&c=pu8g2-6dkpwuHzMDRNZq8WwZ9FdUEmFQTHmxSmri-PE=" alt="" class="img1"><div class="overlay-text"><p class="line1">WELLNESS</p>
            <p class="line2">SHOP</p></div></div>
          <div id="card4" class="cards"><img src="https://media.istockphoto.com/id/1149242897/photo/strong-man-lifting-weight-at-gym.jpg?s=1024x1024&w=is&k=20&c=afOmRT9M61hXGhwrV-DjgBdsco8AIMhUguS9Ee15HLE=" alt="" class="img1"><div class="overlay-text"><p class="line1">RECOVERY</p>
            <p class="line2">SHOP</p></div></div>
        
        </div>
      </div>
      <div style="background-color:#E6E6E6;" id="product-con">
        <p class="phead">Top Rated Products</p>
        <div class="scroll-container">
        
          <div class="scroll-item" id="item1"> 
            <div class="img-con2"><img class="img2" src="" alt=""></div>
            <div class="info">
              <div class="rating"><p>Rating:
                <span class="fa fa-star checked star"></span> 
              <span class="fa fa-star checked star"></span> 
              <span class="fa fa-star checked star"></span> 
              <span class="fa fa-star checked star"></span> 
              <span class="fa fa-star-half-o checked star"></span>  
               </p></div>
              <div style="display: flex;justify-content: space-between;" class="name-price"><h2>Creatine MonoHydrate</h2><h4>$4.99</h4></div>
              <div class="desc">Enchances workout performance</div>
              <div style="display: flex; flex-direction: column; justify-content: space-between;" class="btn2">
                <button class="bt1">BUY</button>
                <button class="bt2" >ADD TO CART</button></div>
            </div>
          </div>
          <div class="scroll-item" id="item2"> 
            <div class="img-con2"><img class="img2" src="./images/2.webp" alt=""></div>
            <div class="info">
              <div class="rating"><p>Rating:
                <span class="fa fa-star checked star"></span> 
              <span class="fa fa-star checked star"></span> 
              <span class="fa fa-star checked star"></span> 
              <span class="fa fa-star checked star"></span> 
              <span class="fa fa-star-half-o checked star"></span>  
               </p></div>
              <div style="display: flex;justify-content: space-between;" class="name-price"><h2>Whey Protien</h2><h4>$4.99</h4></div>
              <div class="desc">with.500g of Glutamine</div>
              <div style="display: flex; flex-direction: column; justify-content: space-between;" class="btn2"><button class="bt1">BUY</button>
<button class="bt2" >ADD TO CART</button></div>
            </div>
          </div>
          <div class="scroll-item" id="item3"> 
            <div class="img-con2"><img class="img2" src="./images/3.webp" alt=""></div>
            <div class="info">
              <div class="rating"><p>Rating:
                <span class="fa fa-star checked star"></span> 
              <span class="fa fa-star checked star"></span> 
              <span class="fa fa-star checked star"></span> 
              <span class="fa fa-star checked star"></span> 
              <span class="fa fa-star-half-o checked star"></span>  
              
              </p></div>
              <div style="display: flex;justify-content: space-between;" class="name-price"><h3>Intra-Fuel Micronized</h3><h4>$4.99</h4></div>
              <div class="desc">BCAA.6400G of EGA MATRIX</div>
              <div style="display: flex; flex-direction: column; justify-content: space-between;" class="btn2"><button class="bt1">BUY</button>
<button class="bt2" >ADD TO CART</button></div>
            </div>
          </div>
          <div class="scroll-item " id="item4">
            <div class="img-con2"><img class="img2" src="./images/1.webp" alt=""></div>
            <div class="info">
              <div class="rating"><p>Rating:
                <span class="fa fa-star checked star"></span> 
              <span class="fa fa-star checked star"></span> 
              <span class="fa fa-star checked star"></span> 
              <span class="fa fa-star checked star"></span> 
              <span class="fa fa-star-half-o checked star"></span>  
              
              </p></div>
              <div style="display: flex;justify-content: space-between;" class="name-price"><h3>Creatine MonoHydrate</h3><h4>$4.99</h4></div>
              <div class="desc">Enchances workout performance</div>
              <div style="display: flex; flex-direction: column; justify-content: space-between;" class="btn2"><button class="bt1">BUY</button>
<button class="bt2" >ADD TO CART</button></div>
            </div>
          </div>
          <div class="scroll-item " id="item5">
            <div class="img-con2"><img class="img2" src="./images/5.webp" alt=""></div>
            <div class="info">
              <div class="rating"><p>Rating:
                <span class="fa fa-star checked star"></span> 
              <span class="fa fa-star checked star"></span> 
              <span class="fa fa-star checked star"></span> 
              <span class="fa fa-star checked star"></span> 
              <span class="fa fa-star-half-o checked star"></span>  
              
              </p></div>
              <div style="display: flex;justify-content: space-between;" class="name-price"><h2>Mass Gainer</h2><h4>$4.99</h4></div>
              <div class="desc">Gainer with 100g.Creatine</div>
              <div style="display: flex; flex-direction: column; justify-content: space-between;" class="btn2"><button class="bt1">BUY</button>
<button class="bt2" >ADD TO CART</button></div>
            </div>
          </div>
          <div class="scroll-item " id="item6">
            <div class="img-con2"><img class="img2" src="./images/6.webp" alt=""></div>
            <div class="info">
              <div class="rating"><p>Rating:
              <span class="fa fa-star checked star"></span> 
              <span class="fa fa-star checked star"></span> 
              <span class="fa fa-star checked star"></span> 
              <span class="fa fa-star checked star"></span> 
              <span class="fa fa-star-half-o checked star"></span>  
              </p></div>
              <div style="display: flex;justify-content: space-between;" class="name-price"><h2> Pre-workout</h2><h4>$4.99</h4></div>
              <div class="desc">preWorkoutwith 100g.L-Citrulline</div>
<div style="display: flex; flex-direction: column; justify-content: space-between;" class="btn2"><button class="bt1">BUY</button>
<button class="bt2" >ADD TO CART</button></div>
            </div>
          </div>
      
  </div>
      </div>
      <div id="cert-con-main">
        <div id="certi-con">
          <div id="content1" class="content"><img class="img3" src="https://images.prismic.io/bpnsupps/Zw6_doF3NbkBXegr_tested.png?auto=format,compress?auto=compress,format" alt=""><div class="text"><div class="t1">Third Party Tested</div> <div class="t2">All BPN supplements are third party tested for banned substances, quality standards and label accuracy.</div></div></div>
          <div id="content2" class="content"><img class="img3" src="https://images.prismic.io/bpnsupps/Zj4xOUFLKBtrWyFR_Frame2196.png?auto=format,compress?auto=compress,format" alt=""><div class="text"><div class="t1">The Bare Standard</div><div class="t2">Built on quality and proven by results, without compromise.</div></div></div>
          <div id="content3" class="content"><img class="img3" src="https://images.prismic.io/bpnsupps/Zj4xOEFLKBtrWyFQ_Frame2197.png?auto=format,compress?auto=compress,format" alt=""><div class="text"><div class="t1">Veteran Owned</div><div class="t2">BPN is a Veteran owned/operated business and is proud to support our troops</div></div></div>
        </div>
      </div>     
      <div id="element4">
        <div class="text-box">
          <p class="line-1">Watch Our Story</p>
          <p class="line-2">(In Real Time)</p>
          <p class="line-3">1.2M+ strong subscribers</p>
          <a href="https://www.youtube.com/channel/UC" class="view-channel">View Channel</a>
        </div>
  
    <!-- Video Container -->
    <div class="video-container">
      <div class="video-item">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="video-info">
          <p class="video-title">Rick Astley - Never Gonna Give You Up</p>
          <p class="video-type">Music Video</p>
          <p class="shop-link"><a href="https://www.example.com" target="_blank">Shop supplements from video</a></p>
        </div>
      </div>
    
      <div class="video-item">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/3JZ_D3ELwOQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="video-info">
          <p class="video-title">Epic Rap Battles of History</p>
          <p class="video-type">Comedy</p>
          <p class="shop-link"><a href="https://www.example.com" target="_blank">Shop supplements from video</a></p>
        </div>
      </div>
    
      <div class="video-item">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/4V8QJbIyzmA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="video-info">
          <p class="video-title">Official Psy - Gangnam Style</p>
          <p class="video-type">Music Video</p>
          <p class="shop-link"><a href="https://www.example.com" target="_blank">Shop supplements from video</a></p>
        </div>
      </div>
    
      <div class="video-item">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/J---aiyznGQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="video-info">
          <p class="video-title">Charlie bit my finger</p>
          <p class="video-type">Viral Video</p>
          <p class="shop-link"><a href="https://www.example.com" target="_blank">Shop supplements from video</a></p>
        </div>
      </div>
    
      <div class="video-item">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/9bZkp7q19f0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="video-info">
          <p class="video-title">PSY - Gangnam Style (강남스타일)</p>
          <p class="video-type">Music Video</p>
          <p class="shop-link"><a href="https://www.example.com" target="_blank">Shop supplements from video</a></p>
        </div>
      </div>
    
      <div class="video-item">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/5qap5aO4i9A" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="video-info">
          <p class="video-title">Lofi Hip Hop Radio</p>
          <p class="video-type">Music Stream</p>
          <p class="shop-link"><a href="https://www.example.com" target="_blank">Shop supplements from video</a></p>
        </div>
      </div>
    
      <div class="video-item">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/aqz-KE-bpKQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="video-info">
          <p class="video-title">The Duck Song</p>
          <p class="video-type">Children's Music</p>
          <p class="shop-link"><a href="https://www.example.com" target="_blank">Shop supplements from video</a></p>
        </div>
      </div>
    
      <div class="video-item">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/YQHsXMglC9A" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="video-info">
          <p class="video-title">Adele - Hello</p>
          <p class="video-type">Music Video</p>
          <p class="shop-link"><a href="https://www.example.com" target="_blank">Shop supplements from video</a></p>
        </div>
      </div>
    
      <div class="video-item">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/2Vv-BfVoq4g" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="video-info">
          <p class="video-title">Ed Sheeran - Perfect</p>
          <p class="video-type">Music Video</p>
          <p class="shop-link"><a href="https://www.example.com" target="_blank">Shop supplements from video</a></p>
        </div>
      </div>
    
      <div class="video-item">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/lQ6avd5kIuI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="video-info">
          <p class="video-title">The Ultimate Fighting Championship (UFC)</p>
          <p class="video-type">Sports Video</p>
          <p class="shop-link"><a href="https://www.example.com" target="_blank">Shop supplements from video</a></p>
        </div>
      </div>
    </div>
    
  
      </div>      
      <div id="element5">
        <div class="t5">GEAR UP</div>
        <div class="gear-container">
          <div class="gear-item">
              <img src="./images/a.webp" alt="Gear 1" class="gear-image">
              <div class="gear-info">
                  <h3>Gear 1</h3>
                  <div><label for="gear1-size">Choose size:</label>
                    <select id="gear1-size" class="gear-size">
                        <option value="small">Small</option>
                        <option value="medium">Medium</option>
                        <option value="large">Large</option>
                    </select></div>
                  <button class="add-to-card">Add to Card</button>
              </div>
          </div>
  
          <div class="gear-item">
              <img src="./images/b.webp" alt="Gear 2" class="gear-image">
              <div class="gear-info">
                  <h3>Gear 2</h3>
                  <div><label for="gear1-size">Choose size:</label>
                    <select id="gear1-size" class="gear-size">
                        <option value="small">Small</option>
                        <option value="medium">Medium</option>
                        <option value="large">Large</option>
                    </select></div>
                  <button class="add-to-card">Add to Card</button>
              </div>
          </div>
  
          <!-- Repeat the structure for gear 3 to 6 -->
  
          <div class="gear-item">
              <img src="./images/c.webp" alt="Gear 3" class="gear-image">
              <div class="gear-info">
                  <h3>Gear 3</h3>
                  <div><label for="gear1-size">Choose size:</label>
                    <select id="gear1-size" class="gear-size">
                        <option value="small">Small</option>
                        <option value="medium">Medium</option>
                        <option value="large">Large</option>
                    </select></div>
                  <button class="add-to-card">Add to Card</button>
              </div>
          </div>
  
          <div class="gear-item">
              <img src="./images/d.webp" alt="Gear 4" class="gear-image">
              <div class="gear-info">
                  <h3>Gear 4</h3>
                  <div><label for="gear1-size">Choose size:</label>
                    <select id="gear1-size" class="gear-size">
                        <option value="small">Small</option>
                        <option value="medium">Medium</option>
                        <option value="large">Large</option>
                    </select></div>
                  <button class="add-to-card">Add to Card</button>
              </div>
          </div>
  
          <div class="gear-item">
              <img src="./images/e.webp" alt="Gear 5" class="gear-image">
              <div class="gear-info">
                  <h3>Gear 5</h3>
                  <div><label for="gear1-size">Choose size:</label>
                    <select id="gear1-size" class="gear-size">
                        <option value="small">Small</option>
                        <option value="medium">Medium</option>
                        <option value="large">Large</option>
                    </select></div>
                  <button class="add-to-card">Add to Card</button>
              </div>
          </div>
  
          <div class="gear-item">
              <img src="./images/f.webp" alt="Gear 6" class="gear-image">
              <div class="gear-info">
                  <h3>Gear 6</h3>
                  <div><label for="gear1-size">Choose size:</label>
                    <select id="gear1-size" class="gear-size">
                        <option value="small">Small</option>
                        <option value="medium">Medium</option>
                        <option value="large">Large</option>
                    </select></div>
                  <button class="add-to-card">Add to Card</button>
              </div>
          </div>
      </div>
      </div>
      <div class="element6">
        <div class="head" style="padding-left:1% ;"><h1 style="display: inline;">EQUIPING the OutBlast Community to </h1><h1 style= " display: inline; color: #C91E23;">GO ONE MORE</h1> <h1 style="display: inline; font-size: 4rem;">&reg;</h1></div>
        <div class="image-container">
          <div class="image-item">
              <img src="https://global.discourse-cdn.com/trainerroad/original/3X/7/9/7949bc4370f09168a721f204eadabb9c82c8bad9.png" alt="Image 1">
              <div class="t-con">
                <div class="tex1">
                <p class="al1">OutBlast Training APP </p>
                <p class="al2">Intentional Training and World Class Programming, Free of Charge.</p>
                </div>
                <div class="aroww">
                  <i class="fa-solid fa-circle-arrow-right"></i>  
                </div>
              </div>
          </div>
          <div class="image-item">
              <img src="https://upload.wikimedia.org/wikipedia/commons/7/7d/David_Goggins.jpg" alt="Image 2">
              <div class="t-con">
                <div class="tex1">
                <p class="al1">The Karan Nick PodCast </p>
                <p class="al2">Our founders Unfiltered Look into Health,nutrition,Enterpenurship and Human Optimization.</p>
                </div>
                <div class="aroww">
                  <i class="fa-solid fa-circle-arrow-right"></i>
                </div>
          </div>
      </div>
      
      </div>
      </div> 
      <div class="element7">
        <div class="head">
          <div class="star2">
            <h1><i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
            </h1>
          </div>
          <h4 style="color: rgb(53, 52, 52);">5,500 VERIFIED REVIEWS</h4>
          <h1 style="color: black;">SEE WHAT CUSTOMERS SAY ABOUT US</h1>
        </div>
        <div class="containerx">
          <div class="itemx">
            <div class="itemy">
              <div class="sttar">
              <span class="fa fa-star checked star"></span> 
              <span class="fa fa-star checked star"></span> 
              <span class="fa fa-star checked star"></span> 
              <span class="fa fa-star checked star"></span> 
              <span class="fa fa-star-half-o checked star"></span>  
              </div>
              <div class="t7">
              <p class="e71" >WHEY</p>
              <div class="e72">
                <p class="e721" style="display: inline; margin-left: 2%;">Travis A</p>
                <div style="display: inline; font-weight: 400;" class="veri">
                  <span style="display: inline;" class="material-symbols-outlined">
                  check_circle
                  </span>
                  <p style="display: inline;margin-left: -7%;">Verified Buyer</p>
                </div>
              </div>
              
              </div>
              <div class="desc">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, eius distinctio magni
                dolores debitis eos esse nam aperiam, veniam dolore ratione ipsa sed facere, nesciunt autem
                quidem est officia nisi!
              </div>
            </div>
          </div>
          
          <div class="itemx">
            <div class="itemy">
              <div class="sttar">
              <span class="fa fa-star checked star"></span> 
              <span class="fa fa-star checked star"></span> 
              <span class="fa fa-star checked star"></span> 
              <span class="fa fa-star checked star"></span> 
              <span class="fa fa-star-half-o checked star"></span>  
            </div>
            <div class="t7">
              <p class="e71" >G.1.M SPORT</p>
              <div class="e72">
                <p class="e721" style="display: inline; margin-left: 2%;">Michael U</p>
                <div style="display: inline; font-weight: 400;" class="veri">
                  <span style="display: inline;" class="material-symbols-outlined">
                  check_circle
                  </span>
                  <p style="display: inline;margin-left: -7%;">Verified Buyer</p>
                </div>
              </div>
              
            </div>
            <div class="desc">
              epdus, eius distinctio magni dolores debitis eos esse nam aperiam, veniam dolore ratione ipsa sed facere, nesciunt autem quidem est officia nisi!
            </div>
            </div>
          </div>
          
          <div class="itemx">
            <div class="itemy">
              <div class="sttar">
              <span class="fa fa-star checked star"></span> 
              <span class="fa fa-star checked star"></span> 
              <span class="fa fa-star checked star"></span> 
              <span class="fa fa-star checked star"></span> 
              <span class="fa fa-star-half-o checked star"></span>  
            </div>
            <div class="t7">
              <p class="e71" >FLIGHT</p>
              <div class="e72">
                <p class="e721" style="display: inline; margin-left: 2%;">Blaze C</p>
                <div style="display: inline; font-weight: 400;" class="veri">
                  <span style="display: inline;" class="material-symbols-outlined">
                  check_circle
                  </span>
                  <p style="display: inline;margin-left: -7%;">Verified Buyer</p>
                </div>
              </div>
              
            </div>
            <div class="desc">
              Lorem Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita cupiditate officia officiis nequeipsum dolor sit amet consectetur adipisicing elit. Repellendus, eius distinctio magni dolores debitis eos esse nam aperiam, veniam dolore ratione ipsa sed facere, nesciunt autem quidem est officia nisi!
            </div>
            </div>
          </div>
          
          <div class="itemx">
            <div class="itemy">
              <div class="sttar">
              <span class="fa fa-star checked star"></span> 
              <span class="fa fa-star checked star"></span> 
              <span class="fa fa-star checked star"></span> 
              <span class="fa fa-star checked star"></span> 
              <span class="fa fa-star-half-o checked star"></span>  
            </div>
            <div class="t7">
              <p class="e71" >GOEL</p>
              <div class="e72">
                <p class="e721" style="display: inline; margin-left: 2%;">Stephanie C</p>
                <div style="display: inline; font-weight: 400;" class="veri">
                  <span style="display: inline;" class="material-symbols-outlined">
                  check_circle
                  </span>
                  <p style="display: inline;margin-left: -7%;">Verified Buyer</p>
                </div>
              </div>
              
            </div>
            <div class="desc">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, eius distinctio magni dolores debitis eos esse nam aperiam, veniam dolore ratione ipsa sed facere, nesciunt autem quidem est officia nisi!
            </div>
            </div>
          </div>
          
          <div class="itemx">
            <div class="itemy">
              <div class="sttar">
              <span class="fa fa-star checked star"></span> 
              <span class="fa fa-star checked star"></span> 
              <span class="fa fa-star checked star"></span> 
              <span class="fa fa-star checked star"></span> 
              <span class="fa fa-star-half-o checked star"></span>  
            </div>
            <div class="t7">
              <p class="e71" >CREATINE</p>
              <div class="e72">
                <p class="e721" style="display: inline; margin-left: 2%;">Douglas R</p>
                <div style="display: inline; font-weight: 400;" class="veri">
                  <span style="display: inline;" class="material-symbols-outlined">
                  check_circle
                  </span>
                  <p style="display: inline;margin-left: -7%;">Verified Buyer</p>
                </div>
              </div>
              
            </div>
            <div class="desc">
              Lorem ipsum dolor siloret Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem rerum deleniti amet. Quis quos, veniam explicabo aperiam provident impedit vero consequuntur quo iste ea nobis temporibus cum, odio inventore dolor. amet consectetur adipisicing elit. Repellendus, eius distinctio magni dolores debitis eos esse nam aperiam, veniam dolore ratione ipsa sed facere, nesciunt autem quidem est officia nisi!
            </div>
            </div>
          </div>
          
          <div class="itemx">
            <div class="itemy">
              <div class="sttar">
              <span class="fa fa-star checked star"></span> 
              <span class="fa fa-star checked star"></span> 
              <span class="fa fa-star checked star"></span> 
              <span class="fa fa-star checked star"></span> 
              <span class="fa fa-star-half-o checked star"></span>  
            </div>
            <div class="t7">
              <p class="e71" >Title</p>
              <div class="e72">
                <p class="e721" style="display: inline; margin-left: 2%;">Douglas R</p>
                <div style="display: inline; font-weight: 400;" class="veri">
                  <span style="display: inline;" class="material-symbols-outlined">
                  check_circle
                  </span>
                  <p style="display: inline;margin-left: -7%;">Verified Buyer</p>
                </div>
              </div>
              
            </div>
            <div class="desc">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, eius distinctio magni dolores debitis eos esse nam aperiam, veniam dolore ratione ipsa sed facere, nesciunt autem quidem est officia nisi!
            </div>
            </div>
          </div>
          
          <div class="itemx">
            <div class="itemy">
              <div class="sttar">
              <span class="fa fa-star checked star"></span> 
              <span class="fa fa-star checked star"></span> 
              <span class="fa fa-star checked star"></span> 
              <span class="fa fa-star checked star"></span> 
              <span class="fa fa-star-half-o checked star"></span>  
            </div>
            <div class="t7">
              <p class="e71" >Title</p>
              <div class="e72">
                <p class="e721" style="display: inline; margin-left: 2%;">Douglas R</p>
                <div style="display: inline; font-weight: 400;" class="veri">
                  <span style="display: inline;" class="material-symbols-outlined">
                  check_circle
                  </span>
                  <p style="display: inline;margin-left: -7%;">Verified Buyer</p>
                </div>
              </div>
              
            </div>
            <div class="desc">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, eius distinctio magni dolores debitis eos esse nam aperiam, veniam dolore ratione ipsa sed facere, nesciunt autem quidem est officia nisi!
            </div>
            </div>
          </div>
          
          <div class="itemx">
            <div class="itemy">
              <div class="sttar">
              <span class="fa fa-star checked star"></span> 
              <span class="fa fa-star checked star"></span> 
              <span class="fa fa-star checked star"></span> 
              <span class="fa fa-star checked star"></span> 
              <span class="fa fa-star-half-o checked star"></span>  
            </div>
            <div class="t7">
              <p class="e71" >Title</p>
              <div class="e72">
                <p class="e721" style="display: inline; margin-left: 2%;">Douglas R</p>
                <div style="display: inline; font-weight: 400;" class="veri">
                  <span style="display: inline;" class="material-symbols-outlined">
                  check_circle
                  </span>
                  <p style="display: inline;margin-left: -7%;">Verified Buyer</p>
                </div>
              </div>
              
            </div>
            <div class="desc">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, eius distinctio magni dolores debitis eos esse nam aperiam, veniam dolore ratione ipsa sed facere, nesciunt autem quidem est officia nisi!
            </div>
            </div>
          </div>
        </div>        
      </div>
      <div class="image-containerm">
        <img src="https://images.prismic.io/bpnsupps/ZjE_XEMTzAJOCdJO_61232322499129b2673ff2c87eba5c25.png?auto=format,compress?auto=compress,format" alt="">
        <div class="overlaym"></div>
        <div class="contentm">
            <h1>Welcome to My Page</h1>
            <p>This is some content in the center of the page.</p>
        </div>
    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="./javascripts/script.js"></script>
  </body>
</html>
